@keyframes fadeIn {
  from {
      opacity: 0; /* Начальная прозрачность */
      transform: translateX(-20px); /* Начальное смещение, если нужно */
  }
  to {
      opacity: 1; /* Конечная прозрачность */
      transform: translateX(0); /* Конечное смещение, если нужно */
  }
}


.clients__img {
  width: 100%;
  height: 55px;
  margin: 0 10px;
  opacity: 0;
  /* Начальное значение прозрачности */
  animation: fadeIn 0.5s ease-in forwards;
  /* CSS-анимация */
}