.arrow__left-clients{
  position: absolute;
  left: 20%;
  bottom: 20%;
  padding: 10px;
  background-image: url(../../../image/icon/left.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1601px) {
  .arrow__left-clients{
    left: 15%;
  }
}

@media (max-width: 1280px) {
  .arrow__left-clients{
    left: 7%;
  }
}