.arrow__left-portfolio{
  position: absolute;
  left: 20%;
  bottom: 20%;
  padding: 10px;
  background-image: url(../../../image/icon/arrow-portfolioLeft.png);
  background-repeat: no-repeat;
  background-position: center;
}