.arrow__right-clients {
  position: absolute;
  right: 20%;
  bottom: 20%;
  padding: 10px;
  background-image: url(../../../image/icon/right.png);
  background-repeat: no-repeat;
  background-position: center;
}