.arrow__right-clients {
  position: absolute;
  right: 20%;
  bottom: 20%;
  padding: 10px;
  background-image: url(../../../image/icon/right.png);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1601px) {
  .arrow__right-clients {
    right: 15%;
  }
}

@media (max-width: 1280px) {
  .arrow__right-clients {
    right: 7%;
  }
}