@media (max-width: 900px) {
  .header__hamb-line {
    background: #006ace;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  }

  .header__hamb-line:before,
  .header__hamb-line:after {
    background: #006ace;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    width: 100%;
  }

  .header__hamb-line:before {
    top: 4px;
  }

  .header__hamb-line:after {
    top: -4px;
  }
}