.popup-message__btn{
  position: absolute;
  bottom: 20px;
  left: 350px;
  width: 220px;
  height: 50px;
  border: none;
  border-radius: 17px;
  background-color: #006ace;
  color: #fff;
  font-size: 1.875em;
  font-weight: 700;
  cursor: pointer;
}

.popup-message__btn:hover{
  transition: .8s;
  border: 1px solid #006ace;
  background-color: #fff;
  color: #006ace;
}