.outsourcing{
  padding-top: 64px;
  width: calc(100% - 215px * 2) ;
  margin: 0 auto;
  position: relative;
}

@media (max-width:1601px) {
  .outsourcing{
    width: calc(100% - 80px * 2) ;
  }
}

@media (max-width:1281px) {
  .outsourcing{
    width: calc(100% - 50px * 2) ;
  }
}